@charset "UTF-8";

:root{ /*Utlizar cor como variável*/
    
    --vermelho:#E50914;
    --preta:#141414;

}

*{ /*Resetar CSS*/
    
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*Para que os elmentos tenham o tamanho que eu passar, não rompendo a caixa*/

}

/* Base */

body{ /*Corpo*/

    background: var(--preta); /*Utilizando variável*/
    font-family: 'Arial', Times, serif;
    color: white; /*Filhos*/

}

header .container{ /*Cabeçalho*/

    display: flex; /* flex box - alinhar elmentos em tela, flex-direction vem automaticamente no row. (Em linha - - - -) */
    flex-direction: row;
    align-items: center; /* Centralizar na tela */
    justify-content: space-between; /* Jogar pra direita com distância entre h2 e nav*/

}

header .logo{
    margin-left: 5px; /* Descolar da esquerda*/
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;

}

header nav a{
    text-decoration: none; /* Tira sublinhado */
    color: #AAA;
    margin-right: 10px; /* Distanciar o conteudo no menu*/
}

header nav a:hover{
    color: #fff;
}

/* Filme principal */

.filme-principal{

    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('/img/capa-house.jpg');

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center; /* Sempre segue a direção do flex-direction*/
    align-items: flex-start; /* Começam sempre da esquerda */

}

.filme-principal .descricoes{

    margin-top: 10px;
    margin-bottom: 40px; /* distancia dos botoes */

}

.titulo{

    margin-top: 15%; /* Melhor trabalhar com %*/
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.botao{

    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 15px; /*15px cima,  direita, baixo e esquerda*/
    margin-right: 15px; /* Separa mais */
    font-size: 12px;

    cursor: pointer; /* Mostrar que é clicavel */ 
    transition: .3s ease all; /* Transição de tempo ao passar o mouse */ 
}

.botao:hover{

    background-color: white;
    color: black;

}

.botao i{

    margin-right: 8px;

}

/* # WRAPPER = envelopar , wrapper != container */

.container{

    margin-left: 20px;

}

.filme-principal .container{

    width: 70%; /* Largura do container -  texto ir até 70% da tela */

}

.box-filme{
    height: 100%; /* tamanho real */
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 5px;
}

.capa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.capa img{
    margin-top: 10px;
    height: 50%;
    width: 50%;
    background-size: cover;
}

.titulo-2{
    font-weight: bolder;
    font-size: 40px;
}

.text{
    margin-top: 2%;
    text-align: justify;
    margin-right: 2%;
}